
:root{
   --color-title: rgb(202, 199, 199);
   --box-shadow: 0px 0px 1.5rem rgb(20, 20, 20); 
   --placeholder-color: rgb(204, 203, 203);
   --color-select-option: gray;
}
// light mode toggle
.light_mode{
   --color-title: rgb(90, 83, 83);
   --color-select-option: rgb(73, 71, 71);
   --placeholder-color: rgb(44, 41, 41);
   --box-shadow: 0px 0px 2rem rgb(206, 204, 204); 
 }
 ::placeholder{
   color: var(--placeholder-color);
}

h2.title,
.expiry_date{
   color: var(--color-title) !important;
}
.expiry_date{
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif !important;
}

  // Hide the increment and decrement buttons 
   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    appearance: none !important;
    visibility: hidden !important;
    margin: 0; 
   }

  input[type="date"].date{
   // mixin
   @mixin input_date($appearance){
      -webkit-appearance: $appearance !important;
      -moz-appearance: $appearance !important;
      appearance: $appearance !important;
   }
   // usage
   @include input_date(none);

   // style calender picker icon
   &::-webkit-calendar-picker-indicator{
      cursor: pointer;
   }
}

select{
   background: none;
   border-radius: .2rem;
   color: var(--color-select-option);

   option{
      color: var(--color-select-option);
   }
}

select.distributor{
   width: 9rem;
   padding: 1px;
}

section.form-section{
   margin-top: 0 !important;
   box-shadow: var(--box-shadow) !important; 
   padding: 2rem 2% !important;
   left: 25% !important; 
   width: 26rem !important;
   height: 44rem !important;
}
input.add-product-input{
   width: 23.4rem !important;
   color: var(--color-title) !important;
}
