:root{
   --page_padding: 0;
   --page-margin: 0;
   --box-sizing: border-box;
   --page-background: linear-gradient(50deg, #25292a 20%, #181a1a 50%);
   --border-style: solid 1.2px rgb(63, 68, 78);
   --icon-color: rgb(213, 214, 216);
   --icon-background: rgb(84, 92, 104);
   --position-absolute: absolute;
   --z-index-999: 999;
   --margin-left-19-rem: 19rem;
   --width-72vw: 72vw;
   --overflow-y-scroll: scroll;
   --height-30-rem: 30rem;
   --padding-1-5: 1.5rem;
   --gray: gray;
   --menu-title-color: rgb(199, 196, 196);
   --title-color: rgb(197, 195, 195);
   --icon-background-active: linear-gradient(50deg, #e76022, #e74022);
}
.light_mode{
   --page-background: #ffffff;
   --border-style: solid 1.2px rgb(198, 199, 199);
   --icon-color: rgb(197, 199, 202);
   --gray: rgb(80, 78, 78);
   --menu-title-color: rgb(29, 28, 28);
   --title-color: rgb(221, 217, 217);
   --icon-background: rgb(79, 88, 102);
}
*{
   padding: var(--page_padding);
   margin: var(--page-margin);
   box-sizing: var(--box-sizing);
   text-decoration: none;
   scroll-behavior: smooth;
   overflow-x: hidden;
}
body{
   width: 100%;
   height: 100vh;
   overflow-x: hidden !important;
   background: var(--page-background);
}
/*## page scroll bar styles ##*/
::-webkit-scrollbar{
   width: 3px;
   background: gray;
 }
 ::-webkit-scrollbar-button{
   background: rgb(109, 108, 108);
 }
 ::-webkit-scrollbar-thumb{
   background:  rgb(27, 27, 27);
}

// font awesome icons
.fas{
   font-size: 20px;
}
.main-content{
   position: relative;
   display: flex;
   margin-top: 3vh;
   height: 100%;
   justify-content: space-between;
   padding: 0 2.5%;

   nav.navigation{
      position: relative;
      background: none;
      padding: 0 1.5rem;

      // business logo 
      img.logo_image{
         height: 100px;
         width: 130px;

         &:hover{
            -webkit-transform: scale(1.09);
            transform: scale(1.09);
            -webkit-transition: ease-in-out .4s;
            transition: ease-in-out .4s;
         }
      }
      // nav_btns wrapper
      section.nav_bars{
         position: relative;
         left: 2px;
         top: 3%;
         border-radius: .5rem;
         display: flex;
         width: 14rem;
         flex-direction: column;
         // border: var( --border-style);
         justify-content: center;
         // box-shadow: var(--box-shadow);
         padding: 1.5rem;

         .nav{
            margin: 1px 0;
            display: flex;
            overflow: visible !important;
            text-align: center;

            // notification counter
            .counter{
               // counter mixin
               @mixin counter($font-size,$font-weight,$position,$background,$padding,$height,$display,$width,$align-items,$border-radius,$left){
                  font-size: $font-size;
                  font-weight: $font-weight;
                  position: $position;
                  background: $background;
                  padding: $padding;
                  height: $height;
                  display: $display;
                  width: $width;
                  align-items: $align-items;
                  border-radius: $border-radius;
                  left: $left;
               }

               // counter usage
               @include counter(10px, bolder, absolute, rgb(117, 117, 231), 5px 1px, auto, inline, 23px, center, 50%, 62px);
               font-family: sans-serif;
            }

            span.title {
               opacity: 1;
               position: relative;
               left: .1rem;
               top: 15px;
               font-size: 13px;
               color: var(--menu-title-color);
               font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
               // background: var(--gray);
               display: inline-block;
               height: 25px;
               // border-radius: .4rem;
               line-height: 24px;
               // width: auto;
               padding: 0 8px;
             }
           
            
            // font awesome icons
            i.fas{
               padding: 15px;
               color: var(--icon-color);
               border-radius: 15%;
               width: 50px;
               height: 50px;
               background: var(--icon-background);


               // active classlist for btn
               &.active{
                  background: var(--icon-background-active) !important;
                  transition: inherit;
                  }
              }
           
               &:hover span.title{
               opacity: 1;
               transform: scale(1);
               transition: ease-in .2s;
               left: 1rem;
            }
           }

          div.theme_btn{
            cursor: pointer;
         }
      }
   }

   // dashboard section
   section.section1{
      position: var(--position-absolute);
      top: 10rem;
      z-index: var(--z-index-999);
      margin-left: var(--margin-left-19-rem);
      width: var(--width-72vw);
      height: var(--height-30-rem);
      overflow-y: var(--overflow-y-scroll);
      padding: var(--padding-1-5);
   }
}

 // sections on page
 section.page{
      position: var(--position-absolute);
      top: 4rem;
      // visibility: hidden;
      display: none;
      z-index: var(--z-index-999);
      margin-left: var(--margin-left-19-rem);
      width: var(--width-72vw);
      height: var(--height-30-rem);
      overflow-y: var(--overflow-y-scroll);
      padding: var(--padding-1-5);
  }
   // active classlist for page sections
  .page.active{
   // visibility: visible;
   display: block;
   top: 10rem;
   transition: none;
  }
