



h1.title{
   // mixin
   @mixin title($font-size,$font-family,$font-weight){
      font-size: $font-size;
      font-family: $font-family;
      font-weight: $font-weight;
   }
   // usage
   @include title(15 + 2px, ("Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif), 400);
}
span.sub-title{
      font-size: 11.5px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-family: 100;

   i.fas{
      font-size: 11.5px;
      position: relative;
      top: 2.5px;
   }
}

img.gif{
   position: absolute;
   height: 110px;
   bottom: -1.7px;
   right: -1rem;
   width: 130px;
   visibility: hidden;
}
.manage_distributor_wrapper > div, .notifications_wrapper > div{
   margin-top: 1rem;
   width: 600px;
   padding: 1.3rem 2rem;
   display: flex;
   flex-wrap: wrap;
   background: rgb(61, 61, 85);
   border-radius: .3rem;
   align-items: center;
   justify-content: space-between;

   samp{
      font-size: 13.5px;
      font-family: sans-serif;

      &+a{
         font-size: 13.5px;
         cursor: pointer;
         font-family: sans-serif;

         &:hover{
            text-decoration: underline;
         }
      }
   }
}

.notifications_wrapper > div{
   width: 12rem !important;
   height: 6.3rem;
   line-height: 15px;
   background: linear-gradient(50deg, rgb(143, 143, 231) 20% , rgb(181, 181, 221) 80%) !important;
   border-radius: .2rem !important;
   align-items: baseline;
   padding: 1rem 10px !important;
   clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

   samp{
      font-size: 11.5px;
}

&:hover{
   transform: scale(1.03);
   cursor: pointer;
}
}

$font-size: 12px;
section.section6{
span{
   color: rgb(218, 213, 213);
   font-size: $font-size;
   font-family: sans-serif;

   i{
      font-size: $font-size - 1;
      top: 0;
      position: relative;
   }
 }
}

