
:root{
   --text-color: antiquewhite;
}
.light_mode{
   --text-color: rgb(61, 60, 60) !important;
}

h2.title{
   font-size: 17px;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   font-weight: 400;
}
h2.title-2{
   font-size: 25px;
   font-weight: bolder;
}
.sm-text{
   font-size: 12.5px !important;
   font-weight: normal;
}

div.product-wrapper{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   padding: 10px;
   border-radius: .5rem;
   border: 1.5px solid rgb(77, 74, 74);
   justify-content: space-between;
   width: 95%;

   .product{
      background: rgb(49 46 45 / 68%);
      border: 1.1px solid #494343;
      padding: 1rem 12px;
      width: 10rem;
      color: var(--text-color);
      border-radius: .3rem;
      align-items: center;
      text-align: left;

      &:hover{
         -webkit-filter: contrast(80%);
         filter: contrast(80%);
         cursor: default;
         transition: ease-in .2s;
      }
   }

   .header{
      font-family: cursive;
      font-size: 13px;
   }
   .sec3{
      font-family: cursive;
      background: rgb(57, 57, 58) !important;
      border: none;
      padding-right: 17px !important;
      overflow-x: scroll;
      font-size: 12.8px;
   }
   
   // .sec3::-webkit-scrollbar-thumb{
   //    background:  rgb(138 138 138);
   // }
   .sec3::-webkit-scrollbar {
       height: 0 !important;
      //  cursor: pointer;
      //  background: #6e6e6e;
   }
   // .sec3::-webkit-scrollbar-button{
   //    background: #6e6e6e;
   //  }
}

input[type="text"].product-search{
   width: 60% !important;
   border-radius: .3rem;
   background: #3c3d3d;
   padding: 1.1rem !important;
   font-size: 12px;
   letter-spacing: 1px;
   color: #f5f5f5 !important;
   border: 1px solid #636161;
   font-family: sans-serif;

   &::placeholder{
      font-size: inherit;
      font-family: inherit;
      color: inherit;
   }
}

.result-box{
   background: #3f4141;
   width: 60% !important;
   border-radius: 4px;
   padding: 0 10px;
   transition: ease-in 2s;
   max-height: 20rem;
   overflow-y: scroll;
}
.result-box::-webkit-scrollbar{
   width: 4px;
   background: #eee;
}
.result-box::-webkit-scrollbar-button{
   background: rgb(235, 234, 234);
 }
 .result-box::-webkit-scrollbar-thumb{
   background:  gray;
}
.result-box ul{
   transition: ease-in linear .5s;
}
.result-box ul li{
   border-radius: 3px;
   transition: ease-in .3s;
   padding: 15px 10px;
   cursor: pointer;
   font-size: 14px;
   letter-spacing: 3;
   color: #d1d0d0;
   border-bottom: 1px solid rgb(102, 100, 100);
   font-family:Arial, Helvetica, sans-serif;
}
.result-box ul li:hover{
   position: relative;
   color: #fa7a3e;
} 

input[type="text"].update{
   width: 80px !important;
   background: none !important;
   font-family: cursive;
   font-size: 15.5px;
   color: #faf9f9 !important;
}
button[type="submit"].submit{
   padding: 1rem;
   width: 3.5rem !important;
   cursor: pointer;
   border-radius: 10%;
   background: linear-gradient(50deg, #e76022, #e74022);

   &:hover{
      background: linear-gradient(50deg,#e74022, #e76022);
   }
}