
:root{
   --text-color: antiquewhite;
}
.light_mode{
   --text-color: rgb(61, 60, 60) !important;
}

h2.title{
   font-size: 17px;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   font-weight: 400;
}
.recent{
   font-size: 13px !important;
}
div.product-wrapper{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   padding: 10px;
   border-radius: .5rem;
   border: 1.5px solid rgb(77, 74, 74);
   justify-content: space-between;
   width: 95%;

   .product{
      background: rgb(231, 96, 34);
      padding: 1rem 12px;
      width: 10rem;
      color: var(--text-color);
      border-radius: .3rem;
      align-items: center;
      text-align: left;
   }

   .header{
      background: none !important;
      font-family: cursive;
   }

  .delete{
   border: 1px solid rgb(231, 96, 34);
   text-align: center !important;
   
   &:hover{
      color:rgb(231, 96, 34);
      background: none !important;
   }
  }
}