
section.track{
   left: 0 !important;
   height: 15rem !important;
}

div.sales-count{
   width: 14rem !important;
   font-size: 22px;
   font-weight: 800;
   color: #eee;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   span{
      font-size: 14px;
      font-weight: 200;
   }
}
