
section.track{
   left: 0 !important;
   height: 20rem !important;
}

div.sales-count{
   width: 17rem !important;
   font-size: 22px;
   font-weight: 800;
   color: #eee !important;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   span{
      font-size: 14px;
      font-weight: 200;
   }
}

div.product-wrapper{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   padding: 10px;
   border-radius: .5rem;
   border: 1.5px solid rgb(77, 74, 74);
   justify-content: space-between;
   width: 95%;

   .track-sales{
      background: rgb(49 46 45 / 68%);
      border: 1.1px solid #494343;
      padding: 1rem 12px;
      width: auto;
      color: var(--text-color);
      border-radius: .3rem;
      font-size: 13px;
      font-family: cursive;
      align-items: center;
      text-align: left;

      &:hover{
         -webkit-filter: contrast(80%);
         filter: contrast(80%);
         cursor: default;
         transition: ease-in .2s;
      }
   }

   .sales-label{
      font-family: cursive;
      font-size: 15px;
   }

   .detail{
      font-size: 12.7px !important;
      line-height: 23px;
   }

}

 .btn-download{
   text-decoration: none;
   background: linear-gradient(50deg, #e76022, #e74022);
   color: #eee;
   cursor: pointer;
   font-family: sans-serif; 
   font-size: 13.2px;
   padding: 18px 30px;
   align-items: center;
   border-radius: .3rem;
   position: relative;
}
a.btn-download::before{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   transform: translateX(-5%);
   transition: 0.5s ease-out;
   z-index: 1;
}
a.btn-download:hover::before{
   width: 100%;
   height: 100%;
   border-radius: inherit;
   background: #ffffff6e;
   transform: translateX(0%);
}
